
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Nirmala UI", sans-serif;
  color: #000;
  scroll-behavior: smooth;

}


h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}



/*--------------------------------------------------------------
# AO TOPO
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  

}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
  background: red;
}


/*--------------------------------------------------------------
# Visão Geral // divone
--------------------------------------------------------------*/
#divone {
 width: 100%;
  height: 80vh;
  background: #AAA;
}

.block li {
    padding: .1em 0;
    font-size: 70px;
    line-height: 44px;
}
li img {
    width: 60px;
    padding-right: 15px;
    display: inline;
}
ul{
  font-size: 19px;
  text-align: left;
  width: 100%;
  height: auto;

}
.img-fluiddog {
    width: 100%;
    height: auto;
}
.img-fluiddog {
    width: 100%;
    height: auto;
}
.img-rx {
    width: 100%;
    height: auto;
}

#divone h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #000;
}

#divone h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}


@media (max-width: 991px) {
  #divone {
    height: 100vh;
    text-align: center;
  }
  #divone .animated {
    -webkit-animation: none;
    animation: none;
  }
  #divone .divone-img {
    text-align: center;
  }
  #divone .divone-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #divone h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #divone h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #000;
  }
  #divone .divone-img img {
    width: 70%;
  }
}

@media (max-width: 568px) {
  #divone h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #divone h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #divone .divone-img img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  #divone .divone-img img {
    width: 100%;
  }
  #divone .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.vsgeral li{
  padding-top: 5px;
  font-size: 20px;
}

#vsgeral .btn-get-started {
  font-family: "sans-serif;", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #004cb4;
}

#vsgeral .btn-get-started:hover {
  background: #004cb4;
}


.vsgeral .content {
  padding: 60px 100px 0 100px;
  text-align: center;
  
}

.vsgeral .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: white;
}

.vsgeral .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.vsgeral .content a {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.vsgeral .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1024px) {
  .vsgeral .content, .vsgeral .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .vsgeral .img {
    min-height: 400px;
  }
  .vsgeral .content {
    padding-top: 30px;
  }
  .vsgeral .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .vsgeral .img {
    min-height: 200px;
  }
}


.image {
  width: 100%;
  height: 200px;
}
.radio {
  /*display: none;*/
}
.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.images-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.image-slide {
  width: 20%;
  float: left;
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}
.fake-radio {
  float: right;
}

/* Movendo slids no conteiner */
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}
#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}
#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}

/* Cor dos bullets */
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  background: red;
}
.radio-btn {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background: gray;
  display: inline-block !important;
  margin: 0 1px;
  cursor: pointer;
}
/* Cor dos bullets fim */

/* Texto dos slides */
#slide1:checked ~ .labels .label:nth-child(1),
#slide2:checked ~ .labels .label:nth-child(2),
#slide3:checked ~ .labels .label:nth-child(3) {
  opacity: 1;
}

.row input{
  opacity: 0%;
}
.label {
  opacity: 0;
  position: absolute;
}
/* Textos dos slides (sem uso) - fim */


/* Calculando os bullets */
@keyframes bullet {
  0%, 33.32333333333334%  {
    background: red;
  }
  33.333333333333336%, 100% {
    background: gray;
  }
}


#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
  animation: bullet 12300ms infinite -1000ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
  animation: bullet 12300ms infinite 3100ms;  
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  animation: bullet 12300ms infinite 7200ms;  
}
/*CALCULANDO bullets- END */




/* calculando autoplay */
@keyframes slide {
  0%, 25.203252032520325% { margin-left: 0; }
  33.333333333333336%, 58.53658536585366% { margin-left: -100%; }
  66.66666666666667%, 91.869918699187%  { margin-left: -200%; }
}


.st-slider > #play1:checked ~ .images .images-inner {
  animation: slide 12300ms infinite;  
}
/* Calculando autoplay - END */


/* autoplay via radio */
@keyframes caption {
  0%, 33.32333333333334%  {
    opacity: 1;
  }
  33.333333333333336%, 100% {
    opacity: 0;
  }
}


#play1:checked ~ .labels .label:nth-child(1) {
  animation: caption 12300ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
  animation: caption 12300ms infinite 3100ms; 
}

#play1:checked ~ .labels .label:nth-child(3) {
  animation: caption 12300ms infinite 7200ms; 
}
/* autoplay via radio - fim */






/*--------------------------------------------------------------
# PAINEIS, services
--------------------------------------------------------------*/
.services{
  background-color: #2b3d4e;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 220px;
  width: 100%;
  height: auto;
}
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services h3{
  padding-top: 0px;
  font-size: 20px;
}

.services h2 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  padding-bottom: 10px;
}

.services h1{
  padding-top: 20px;
  margin: auto;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .card{
width: 288px;
height: auto;
background-color: transparent;
text-align: center;
margin: auto;
border:  0px;


}
.services .card-text{
  text-align: left;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
    border-color: transparent;
}

/*Galery TWO*/
#galerytwo{
  width: 100%;
}

#galerytwo h1 {
  padding: 0px 0px 0px px;
  font-size: 53px;
  color: #fff;
  width: 50%;
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}

#subtitulogtwo{
  float: right;
  width: 100%;

}
#galerytwo p{
  color: #fff;
  font-size: 23px;
}

#galerytwo img{
  width:100%;
  height: auto;
}
/*FIM DA Galeria TWO*/



/*SLIDE 3*/

.slideid{
  background-color: #2b3d4e;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  width: 100%;
  height: auto;
}

.slideshow-container {
    max-width: 92%;
    height: 30%;
    margin: auto;
}

.mySlides {
  width: 100%;
  height: auto;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}



.dot {
    cursor: pointer;
    display: inline-block;
    transition: background-color .6s ease;
    border-color: transparent;
    white-space: normal;
    word-wrap: break-word;
    background-color: #7a7a7a;
    color: #fff;
    display:block;
    margin: auto;
}

.dot:focus{
  outline: none;
}

.active,
.dot:hover {
    color: #62ed25;
    background-color: transparent;
    border-color: transparent;
}

.titulo-slide{
  background-color: #7a7a7a;
  width: 89%;
  height: auto;
  color: black;
  font-size: auto;
  border-radius: 10px;
  color: #fff;
  text-align: left;
}

.fundo-botoes{
  background-color: #7a7a7a;
  width: 74%;
  height: auto;
  color: black;
  border-radius: 10px;

  font-size: auto;
  margin: auto;
}

.dot.moveslide{
  position: absolute;
  margin: auto;
}

/*FIM DO SLIDE 3*/





/* testes */


.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}